.create-btn {
    margin-top: 30px;
    color: white;
    width: 150px;
    height: 50px;
    background-color: var(--main-button-background-color);
}

.create-btn:hover {
    background-color: #888888;
}

.eee {
    width: 100px;
    height: 100px;
    background: green;
}

#rooms-page {
    margin-top: 40px;
    margin-left: 60px;
}

#rooms-container {
    width: 100%;
    min-height: 100px;
    padding: 30px;
    flex-wrap: wrap;
}

#rooms-container .room-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;
    min-height: 150px;
    padding: 10px 20px;
    background-color: var(--main-button-background-color);
    color: var(--main-font-color);
    cursor: pointer;
    margin: 0 10px;
}

#rooms-container .room-item.active {
    outline: 2px solid var(--main-button-border-color);
    cursor: default;
}

.room-item p {
    font-size: 12px;
}

.title-question {
    font-size: 20px;
    color: blue
}

.join {
    margin-top: 20px;
    border: 1px solid black;
    padding: 3px 5px;
}

.no-select {
    margin-left: 20px;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-placeholders {
    width: 200px;
    height: 500px;
}


.indicator-placeholders {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    border: 1px solid black;
}


.race-progress {
    display: block;
    margin-left: 2rem;
}

.race-textinput {
    margin-left: 10px;
    width: 500px;
    font-size: 1.5rem;
    text-align: center;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

.indicators {
    margin-top: 10px
}

.indicators-bar {
    width: 150px;
    height: 20px;
    border: 1px solid black
}

.start-btn {
    background: antiquewhite;
}

.text-place {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1
}

.timer {
    position: absolute;
    left: 10px;
    top: 10px
}

.text-for-input {
    position: absolute;
    top: 70px
}

.logout-btn {
    width: 5rem;
    background-color: aliceblue;
    border: 1px solid black;
    height: 30px;
}

.display-none {
    display: none;
}

